@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;400;500;700&display=swap");

body {
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

#root {
  min-height: 100vh;
}

.EmojiPickerReact {
  position: absolute !important;
  bottom: 95px;
}

embed img {
  width: 100%;
}

/* React select needs its menu to show on top of all other elements */
.react-select__menu {
  z-index: 99 !important;
}

.react-select__control {
  background-color: #3f3c51 !important;
}

.react-select__input-container input,
.react-select__single-value {
  color: white !important;
}

a {
  text-decoration: none;
}
